Repository ghogue02/redalert, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/game-leads, @your-org/docs, @your-org/infra, @your-org/engineers, @your-org/tech-art, @your-org/engine-core, @your-org/design-tech, @your-org/gameplay, @your-org/ui, @your-org/ai

CODEOWNERS:

# CODEOWNERS
# Use GitHub or GitLab CODEOWNERS semantics to require reviews from listed owners.
# Wildcards apply recursively; later matches take precedence.

# Global owners (fallback)
*       @your-org/game-leads

# Docs
/Docs/   @your-org/docs

# CI
/CI/     @your-org/infra

# Unity assets and scripts
/Assets/ @your-org/engineers @your-org/tech-art

# Module ownership (adjust as teams form)
/Assets/Scripts/Core/     @your-org/engine-core
/Assets/Scripts/Data/     @your-org/design-tech
/Assets/Scripts/Pathing/  @your-org/engine-core
/Assets/Scripts/Economy/  @your-org/gameplay
/Assets/Scripts/Build/    @your-org/gameplay
/Assets/Scripts/Units/    @your-org/gameplay
/Assets/Scripts/Combat/   @your-org/gameplay
/Assets/Scripts/UI/       @your-org/ui
/Assets/Scripts/AI/       @your-org/ai
/Assets/Scripts/Debug/    @your-org/engine-core

chore(ci): trigger WebGL build and Pages deploy
  CI/trigger.txt
Owners: @your-org/infra

chore(ci): trigger build after setting UNITY_LICENSE
  CI/trigger2.txt
Owners: @your-org/infra

ci: pin unity version and correct Pages permissions
  .github/workflows/build-webgl.yml
Owners: @your-org/game-leads

ci: trigger run
  CI/trigger3.txt
Owners: @your-org/infra

ci: add manual dispatch smoke workflow
  .github/workflows/dispatch-only.yml
Owners: @your-org/game-leads

ci: trigger WebGL workflow and add manual dispatch smoke
  .github/workflows/build-webgl.yml
  .github/workflows/dispatch-only.yml
  CI/trigger.txt
Owners: @your-org/game-leads, @your-org/infra

ci: capture Unity logs on failure and retrigger WebGL workflow
  .github/workflows/build-webgl.yml
  CI/trigger.txt
Owners: @your-org/game-leads, @your-org/infra

ci: trigger Build WebGL (Artifact Only) to capture Editor.log
  .github/workflows/build-webgl-artifact.yml
  CI/trigger.txt
Owners: @your-org/game-leads, @your-org/infra

ci: robust logs capture, auto-resolve unity version, itch fallback workflow, and verification helper
  .github/workflows/build-webgl-artifact.yml
  .github/workflows/deploy-itch.yml
  CI/License.md
  CI/ci-verify.sh
Owners: @your-org/game-leads, @your-org/infra

ci: trigger artifact workflow
  CI/trigger.txt
Owners: @your-org/infra

Add Unity 6.1 WebGL build - Red Alert game ready for deployment
  .gitignore
  build/WebGL/Build/WebGL.framework.js.br
  build/WebGL/Build/WebGL.loader.js
  build/WebGL/TemplateData/MemoryProfiler.png
  build/WebGL/TemplateData/favicon.ico
  build/WebGL/TemplateData/fullscreen-button.png
  build/WebGL/TemplateData/progress-bar-empty-dark.png
  build/WebGL/TemplateData/progress-bar-empty-light.png
  build/WebGL/TemplateData/progress-bar-full-dark.png
  build/WebGL/TemplateData/progress-bar-full-light.png
  build/WebGL/TemplateData/style.css
  build/WebGL/TemplateData/unity-logo-dark.png
  build/WebGL/TemplateData/unity-logo-light.png
  build/WebGL/TemplateData/unity-logo-title-footer.png
  build/WebGL/TemplateData/webmemd-icon.png
  build/WebGL/index.html
Owners: @your-org/game-leads

Fix Unity WebGL double compression on Vercel
  vercel.json
Owners: @your-org/game-leads

Deploy complete Red Alert RTS WebGL build to production
  build/WebGL/vercel.json
Owners: @your-org/game-leads
